# Django specific
*.pyc
__pycache__/
db.sqlite3
media/

# Migrations files
*migrations/
# Virtual environment
venv/
env/

# images
media/images

# Environment variables
*.env

# IDE specific
.vscode/
.idea/

# Cache files
*.log